.contactSection {
  padding: 3rem 1.5rem;
  color: white;
  text-align: center;
  background-color: #0E2954;
}

.contactTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contactTitle span {
  color: #A8B5FF;
}

.contactForm {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.formGroup input,
.formGroup textarea {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #1F6E8C;
  color: white;
  font-size: 1rem;
  outline: none;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.sendBtn {
  width: fit-content;
  align-self: flex-start;
  padding: 0.6rem 1.2rem;
  background-color: #A8B5FF;
  color: white;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 0.5rem;
  border: 2px solid transparent;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.sendBtn:hover {
  background-color: transparent;
  border: 2px solid rgb(132, 167, 161);
}

.btn:hover,
.sendBtn:hover {
  animation: bounce 0.5s ease;
}

/* Add this to the bottom of the CSS file */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

